.container-fluid{padding: 0;}

.common .navbar-default{background-color: #f55959;  font-size: 14px; text-align: center; position: absolute; z-index: 1; 
               width: 100%; height: 50px;}

.common .navbar-nav{float: none; width: 90%; display: inline-block;}

.common .navbar-default .col-sm-2{padding: 0px !important; margin: 0px !important;}

.common .navbar-default .col-sm-2>li{padding: 15px 0px; width: 100%; height: 50px; margin: 0px;}

.common .navbar-default .col-sm-2>li>a{color: white; position: relative; margin: 0; width: 100%; text-decoration: none;
                letter-spacing: 2px; text-align: center; padding: 15px 20px;}

.common .navbar-default .col-sm-2>li>.hovanim{position: absolute; top: 0px; width: 100%; height: 0px; background-color: #19322f;
    -webkit-transition: height .5s; transition: height .5s;}

.common .navbar-default .col-sm-2>li:hover .hovanim{height: 50px;}

.common .navbar-default .col-sm-2>li>a:hover{color: white;}

/*.navbar-default .col-sm-2>li>a:active{background-color: #19322f; color: white;}*/

.common .navbar-default .col-sm-2>.active>a, .navbar-default .col-sm-2>.active>a:hover,.navbar-default .col-sm-2>.active>a:focus,
.common .navbar-default .col-sm-2>li>a:visited{color: white; background-color: #19322f;}

.common .navbar-default .navbar-toggle .icon-bar {background-color: white;}


.common .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background-color: transparent;}

.common .navbar-toggle{float: left;}


/*.navbar-default .col-sm-2>li:hover .hovanim{height: 40px;}*/

/*.navbar-default .col-sm-2>li>a:hover{color: white;}*/

/*End of Navbar styling*/

.footer{background-color: #19322f;}

.footer ul{list-style-type: none; margin: 10px 0px; padding: 0; width: 100%; display: inline-block;}

.footer ul li{display: inline-block;}

.footer ul li a{padding: 10px 15px; color: white;}

.footer .logo{float: right; color: white;}

.footer .logo{margin: 10px 0px;}

.footer .logo .logtxt{font-size: 2.4em; font-weight: 800;}

.footer .logo .logbox{position: absolute; width: 74px; height: 20px; background-color: #f55959; color: white;}

.footer .socialfoot{margin-left: 15%; margin-bottom: 10px;}

.footer .copyright{margin-left: 15%; color: #bfbfbf; font-size: 12px; margin-bottom: 10px;}

.footer .socialfoot img{width: 25px; height: 25px; display: inline-block;}

.bottom{position: absolute; bottom: 0px; left: 0px; width: 100%;}

.bottom1{width: 100%;}
/*End of footer styling*/

.active{background-color: #19322f; color: white;}

@media screen and (max-width: 767px) {
    .container {padding: 10px !important; width: 100% !important;}
    .sec1{margin-bottom: 20px;}
    .footer ul{display: none}
    .footer .socialfoot{display: none;}
    .footer .copyright{display: none;}
    .footer .logo{margin: 0px 0px 25px;}
    .common{height: 70px;}
    .common .navbar-default{height: auto; z-index: 1000;}
    .common .navbar-default .col-sm-2>li{width: auto;}
}

@media screen and (max-width: 997px) and (min-width: 768px) {
    .footer .socialfoot{margin-left: 30%;}
    .footer .copyright{margin-left: 30%;}
}
