body{margin: 0; padding: 0; font-family:Myriad Pro Regular,Helvetica Neue,Helvetica,sans-serif;}

.sec{margin-top: 70px;}

h1{margin-top: 5px;}

.bold{font-weight: bold;}

.errors{margin-bottom: 10px; color: red; font-size: 12px;}

.sec1{margin-top: 30px;}

.sec1{background-color: #e5e5e5; padding: 10px; margin-bottom: 70px;}

.sec1 h3{margin-top: 0px;}

.btn, .btn-default{background-color: #f55959; color: white;}

.btn-default:hover, .btn-default:hover:active{background-color: #f55959 !important; color: white !important;}




@media screen and (max-width: 767px) {
    .container {padding: 10px !important; width: 100% !important;}
    .sec1{margin-bottom: 20px}
    
}



