body{margin: 0; padding: 0; font-family:Myriad Pro Regular,Helvetica Neue,Helvetica,sans-serif;}

.container-fluid{margin: 0px; padding: 0px;}

.topper{height: 35px; width: 100%; background-color: #f55959;}